* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    background-color: rgb(122, 177, 225);

    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    border-image-width: ;
}
p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
