* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#menu-burgue::before {
  font-family: 'Material Symbols Outlined';
  content: 'menu';
  font-size: 32px;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 15px;
    color: #0c1618;

}

#menu-burgue {
    display: block;
    text-align: center;
    font-size: 2rem;
    background: transparent;
    border: 0;
    color: #fff;
    padding: 6px;
    
}

#menu-burgue:hover {
    background-color: rgba(255,255,255,0.08);
    cursor: pointer;
}



header {
    background-color: #bf0019;
    padding: 10px;
}

nav ul li {
    background-color: #0c1618;
    margin: auto;
    padding: 10px;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.2s ease;
}
nav ul li a:hover {
    background-color: #fff;
    color: #000;
}

nav {
    display: none;

}

nav.active {
    display: block;
}

header nav ul {
    list-style: none;

}

header a {
    text-decoration: none;
    color: #fff;

}

/* layout para telas maiores */
@media (min-width: 700px) {
    #menu-burgue {
        display: none;
    }

    header {
        display: block;
        align-items: center;
        padding: 10px 20px;
    }

    nav {
        display: block;
    }

    header nav ul {
        display: flex;
        justify-content: center;
        gap: 6px;
    }

    nav ul li {
        background: transparent;
        margin: 0;
        padding: 0;
    }

    nav ul li a {
        padding: 10px 14px;
        color: #fff;
    }
}

html, body {
    background-color: #e0e1de;
}

main article {
    padding: 20px;
}