* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#menu-burgue::before {
  font-family: 'Material Symbols Outlined';
  content: 'menu';
  font-size: 32px;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 15px;
    color: #0c1618;

}

#menu-burgue {
    display: block;
    text-align: center;
    font-size: 2rem;
}

#menu-burgue:hover {
    background-color: #fff;
    cursor: pointer;
}



header {
    background-color: #bf0019;
    padding: 10px;
}

nav ul li {
    background-color: #0c1618;
    margin: auto;
    padding: 10px;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.2s ease;
}
nav ul li a:hover {
    background-color: #fff;
    color: #000;
}



header nav ul {
    list-style: none;

}

header a {
    text-decoration: none;
    color: #fff;

}

html, body {
    background-color: #e0e1de;
}

main article {
    padding: 20px;
}