@charset "UTF-8";

/* 
320px–480px → celulares super pequenos

481px–600px → mobiles em landscape

601px–768px → tablets pequenos

769px–1024px → tablets grandes / laptops pequenos

1025px–1280px → desktops

1281px–1440px+ → largona resolução
*/

@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main::after {
        content: "maiconfpss"; /* acho que pq coloquei main ficou dentro da borda main 
        entao deve funcionar nas outras coisas tbm essa assinatura de impressora*/
    }


    body {
    background-image: url(../imagens/back-print.jpg); /* OBS desnecessario nao pega*/

  }
  img#phone {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#pc {
    display: none;
  }
  img#tv {
    display: none;
    /* None oculta as coisas */
  }
  img#print {
    display: block;
    /* Block mostra as coisas */

  }

  main h1 {
    color: #0c1618;
}

main {
    border: 2px solid #0c1618;
}
  
}

@media screen and (min-width: 768px) {
  body {
    background-image: url(../imagens/back-tablet.jpg);
  }

  img#phone {
    display: none;
  }
  img#tablet {
    display: block;
  }
  img#pc {
    display: none;
  }
  img#tv {
    display: none;
  }
  img#print {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url(../imagens/back-pc.jpg);
    background-size: cover;
  }

  img#phone {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#pc {
    display: block;
  }
  img#tv {
    display: none;
  }
  img#print {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  body {
    background-image: url(../imagens/back-tv.jpg);
  }

  img#phone {
    display: none;
  }
  img#tablet {
    display: none;
  }
  img#pc {
    display: none;
  }
  img#tv {
    display: block;
  }
  img#print {
    display: none;
  }
}
