@charset "UTF-8";

/* Mobile Fist*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #0c1618;
    text-align: center;
    font-size: 1em;

}

body, html {
    width: 100vw; /* width é vw*/
    height: 100vh; /* height é vh*/
}

body {
    background:#0c1618 url(../imagens/back-phone.jpg) no-repeat; 
    background-position: center center;
}

main {
    background-color: rgba(250, 244, 211, 0.5);
    width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
img {
    display: block;
    margin: auto;
}

img#phone { display: block; }
img#tablet {display: none;}
img#pc {display: none;}
img#tv {display: none;}
img#print {display: none;}