@charset "UTF-8";

/* estilos pra impressora*/

@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Nosifer&display=swap");

* {
  box-sizing: border-box;
}
header {
  color: #e1e6e1;
  text-align: center;
}
h1 {
  font-family: "Nosifer", sans-serif;
  font-size: 30px;
}
nav {
    display: none;
}
a {
  text-decoration: none;
  color: #0c1618;
}
body {
  background: #e0e1de;
}
main p {
  padding: 0.1em;
  font-family: "Cascadia Code", sans-serif;
  font-size: normal;
  font-weight: 200;

  text-indent: 30px;
  text-align: justify;
}
footer {
  color: #0c1618;
}
footer p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.links-footer {
    display: none;
}
.contact {
    text-align: center;
}
article::after {
    content: 'Impresso de desafio do curso em video';
    font-family: "Nosifer", sans-serif;
    font-size: xx-small;
}
