@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FF445A, #F2F2F2)
}

main {
    background-color:#edaf4c55;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #60471e67;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #0D0D0D;
    text-align: center;
    text-shadow: 3px 3px 7px #423e3755;
}

h2 {
    color: #F2F2F2;
}

p {
    color: #595959;
}